<div class="bground closefield hide"></div>
<div class="album albumIcon">
    <!-- Все .album-menu-panel скрыты в режиме "иконки" -->
    <div class="album-title showDetails">
        <%= title %>
        <% if(app.is_admin) { %>
            (id: <%= id %>)
        <% } %>
    </div>
    <div class="album-menu-panel">
        <h2><%= title %></h2>
    </div>
    <% if(comment && comment.length > 0) {
        %>
        <div class="album-menu-panel">
            <article><%= comment %></article>
        </div>
        <%
    } %>
    <div class="album-menu-panel">
        <table>
            <tbody>
                <tr>
                    <%
                    var adminParams = {
                        'ID': id,
                        'Статус': status_text
                    }
                    var params = {
                        '- такое тут количество изображений': pictures_count,
                        '- такая вот дата создания': created_at
                    }
                    if(app.is_admin) {
                        params = _.extend(params, adminParams);
                        %>
                        <td rowspan="<%= Object.keys(params).length %>">
                            <button class="btn btn-large padding10 btn-block btn-primary showEdit">Редактировать</button>
                            <button class="btn btn-large padding10 btn-block btn-danger delete">Удалить</button>
                        </td>
                        <% 
                    };
                    _.each(params, function(value, index) {
                            if(value) {
                                %>
                                    <td class="rightAlign padding2">
                                        <span class="label label-info"><%= value %></span>
                                    </td>
                                    <td class="padding2">
                                        <span class="label"><%= index %></span>
                                    </td>
                                </tr>
                                <% if(index < Object.keys(params).length) { %>
                                    <tr>
                                <% }
                            }
                        })
                    %>
            </tbody>
        </table>
    </div>
    <% if(app.is_admin) { %>
        <div class="album-menu-panel">
            <h2>Загрузить изображение</h2>
            <form class="newpicture" enctype="multipart/form-data"> 
                <fieldset>
                    <div class="btn btn-large btn-info input-mock-button">
                        Выбрать файлы
                        <input type="file" name="files" class="files" size="1" multiple="multiple"/>
                    </div>
                </fieldset>
            </form>
            <div class="uploaded-files"></div>
            <br/>
            <div class="btn btn-large btn-primary upload hide">Загрузить</div>
        </div>
    <% } %>
    <div class="previews"></div>
</div>