<!-- подкладка фон -->
<div class="bground-black"></div>
<div class="scroll-wrapper">
    <div class="gallery-background">
        <!-- подкладка закрытия -->
        <div class="closefield t-bground"></div>
        <div class="gallery-box">
            <div class="gallery-viewport">
                <div class="picture-viewport">
                    <div class="goleft">
                        <!-- подкладка мешающая выделению текста -->
                        <div class="no-select-pad"></div>
                        <div class="arrow"><!--◁-->☜</div>
                    </div>
                    <div class="goright">
                        <!-- подкладка мешающая выделению текста -->
                        <div class="no-select-pad"></div>
                        <div class="arrow"><!--▷-->☞</div>
                    </div>
                    <div class="picture-wrapper">
                        <div class="picture-loading-text">Загрузка...</div>
                    </div>
                </div>
            </div>
            <div class="comments hide">
                <!-- Сюда динамически вставится модуль комментаиев disqus -->
            </div>
            <div class="cloud rolluped">
                <div class="gradient-top-box">
                    <h2>∭</h2>
                </div>
                <span class="label">Альбом:</span>
                <span class="label label-info"><%= title %></span>
                <hr/>
                <div class="picture-info"></div>
                <% if(app.is_admin) { %>
                <div class="btn-group">
                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
                        Редактировать
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#" class="edit-comment">Редактировать</a></li>
                        <li><a href="#" class="main-picture">Обложка альбома (переключатель)</a></li>
                        <li class="divider"></li>
                        <li><a href="#" class="delete">Удалить изображение</a></li>
                    </ul>
                </div>
                <% } else { %>
                    <button class="btn-info btn show-comments">Комментарии</button>
                <% } %>
                <button class="btn-success btn rolldown">Свернуть ∭</button>
                <button class="btn-danger btn closefield"><abbr title="Так же Вы можете кликнуть по темному фону или нажать клавишу Esc.">Закрыть</abbr></button>
            </div>
            <div class="cloud rolldowned rolldowned-menu hide">
                <button class="btn-primary btn rolldown">∭</button>
                <button class="btn-info btn show-comments">Комментарии</button>
            </div>
            <!--
            можно добавить :3
            <div class="cloud rolldowned hide"></div>
            -->
        </div>
    </div>
</div>