<canvas id="livebg" currentColor="#fff"></canvas>

<a href="#init"></a>
<hr/>
<h1 style="display: inline;font-family: sans;">♖</h1>
<h1 style="display: inline;">Shepi</h1>
<h1 style="display: inline;font-family: sans;">♜</h1>
<hr/>
<div class="albums-box"></div>
<hr/>

<div id="comments-box" class="">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        disqus_shortname = 'shepi';
        disqus_identifier = 'main';
        disqus_title = 'Main page';
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);

            $('#livebg')
                .appendTo('body')
                .attr({
                    'width': $(window).width(),
                    'height': $(window).height()
                });
            //anet();
            /*$(document).on('mousemove', function(e) {
                anet(e.pageX, e.pageY);
            })*/
            //draw(500, 500);
            /*$(document).on('mousemove', function(e) {
                draw(e.pageX, e.pageY);
            })*/
        })();
        
        function net(x, y) {
            var point = {
                x: x,
                y: y
            }
            var ctx = document.getElementById('livebg').getContext('2d');
            var steps = 100;
            var win_sizes = {
                width: $(window).width(),
                height: $(window).height()
            }
            var i = 0;
            ctx.clearRect(0, 0, win_sizes.width, win_sizes.height);
            // левая
            ctx.beginPath();
            for(i = 0; i <= steps; i++) {                
                ctx.moveTo(0, i * win_sizes.height/steps);
                ctx.lineTo(point.x, point.y);
            }
            // правая
            for(i = 1; i <= steps; i++) {                
                ctx.moveTo(win_sizes.width, i * win_sizes.height/steps);
                ctx.lineTo(point.x, point.y);
            }
            // верх
            for(i = 1; i <= steps; i++) {                
                ctx.moveTo(i * win_sizes.width/steps, 0);
                ctx.lineTo(point.x, point.y);
            }
            // низ
            for(i = 1; i < steps; i++) {                
                ctx.moveTo(i * win_sizes.width/steps, win_sizes.height);
                ctx.lineTo(point.x, point.y);
            }
            ctx.stroke();
           /* ctx.beginPath();
            ctx.arc(75,75,50,0,Math.PI*2,true); // Outer circle
            ctx.moveTo(110,75);
            ctx.arc(75,75,35,0,Math.PI,false);  // Mouth (clockwise)
            ctx.moveTo(65,65);
            ctx.arc(60,65,5,0,Math.PI*2,true);  // Left eye
            ctx.moveTo(95,65);
            ctx.arc(90,65,5,0,Math.PI*2,true);  // Right eye
            ctx.stroke();*/
        }
        function anet(x, y) {
            var offset = {
                x: x,
                y: y
            };
            var win_sizes = {
                width: $(window).width(),
                height: $(window).height()
            }
            //коэфициент
            var k = 0;
            //угол
            var phee = 0;
            //длина гипотенузы
            var p = 0;
            //для моей спирали phee должен увеличиваться
            //с НЕ постоянным шагом, а нарастающим
            var step = (function(step) {
                return function(checkOnly) {
                    if(!checkOnly) {
                        step += 0.1;
                    }
                    return step;
                }
            })(0.001);
            var point = {};

            var ctx = document.getElementById('livebg').getContext('2d');
            ctx.clearRect(0, 0, win_sizes.width, win_sizes.height);
            ctx.beginPath();
            //для покрытия всей площади экрана узором
            //макс расстояние = sqrt(R^2 + R^2);
            var max_distance = Math.sqrt(win_sizes.width*win_sizes.width*2);
            while(p < max_distance) {
                k += 0.01;
                point = polarToDec(p, phee);
                ctx.lineTo(offset.x + point.x, offset.y + point.y);
                //p = k*phee
                phee = step();
                p = phee * k;
            }
            ctx.stroke();
        }
        //p в пикселях, phee в радианах
        function polarToDec(p, phee) {
            return {
                x: Math.sin(phee)*p,
                y: Math.cos(phee)*p
            }
        }
    </script>
</div>
