<a href="#init"></a>
<hr/>
<h1 style="display: inline;font-family: sans;">♖</h1>
<h1 style="display: inline;">Shepi</h1>
<h1 style="display: inline;font-family: sans;">♜</h1>
<hr/>
<div class="albums-box"></div>
<hr/>

<div id="comments-box" class="">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        //Эта чать кода стоит особняком т.к. никак не связана
        //с остальной системой, поэтому я оставил её в шаблоне.
        disqus_shortname = 'shepi';
        disqus_identifier = 'main';
        disqus_title = 'Main page';
        (function() {
            var dsq = document.createElement('script');
            dsq.type = 'text/javascript';
            dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);

            var s = document.createElement('script');
            s.async = true;
            s.type = 'text/javascript';
            s.src = '//' + disqus_shortname + '.disqus.com/count.js';
            (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
        })();
    </script>
</div>
